[submodule "lib/fmt"]
	path = lib/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "lib/magic_enum"]
	path = lib/magic_enum
	url = git@github.com:Neargye/magic_enum.git
[submodule "test/include/Catch2"]
	path = test/include/Catch2
	url = git@github.com:catchorg/Catch2.git
